$imgPath: "../img";
$background: url('#{$imgPath}/background.jpg');
$secondary-color: #818181;
$schoolbg: #4087b7;
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.router-view-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container-fluid{
  background: $background no-repeat;
  background-size: 100% 100%;
  flex: 1;
  margin-top: 2em;
}
.container-fluid form{
  background-color: $schoolbg;
  border-radius: 10px;
}
.nav-bar {
  border-bottom: solid 2px;
  border-color: $secondary-color;
}
.school-card {
  background-color: $schoolbg;
  border-radius: 10px;
}
.school-card table .index .bold{
  font-weight: bold;
}
.school-card table .index p {
  margin: 5px;
}